﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  <div class="row">
    <div class="col-ms-12 center" style="float:none;margin:auto;padding: 30px 0 20px 0;">
      <img src="https://sigma-studios.s3-us-west-2.amazonaws.com/test/sigma-logo.png" alt=""><br>
    </div><br>
  </div>
  <div class="row">
    <div class="col-ms-12 " style="float:none;margin:auto;">
      <br><h1>Prueba de desarrollo Sigma</h1><br>
    </div>
  </div>
  <div class="row">
    <div class="col-ms-12" style="text-align: center;">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry´s standard dummy text ever  since the 1500s, when an unknown printer took a gallery of type and scrambled it to make a type specimen book.</p>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-6">
      <img src="https://sigma-studios.s3-us-west-2.amazonaws.com/test/sigma-image.png" class="img-fluid" alt="">
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <br>
          <label for="">Departamento*</label><p id="validadepartamento" style="color: red; font-size: 10px;"></p>
          <select name="departamentos" id="departamentos" class="form-control"  onselect="getCiudad()">
            <option disabled selected>Antioquia</option>
          </select><br>
          <label for="">Ciudad*</label><p id="validaciudad" style="color: red; font-size: 10px;"></p>
          <select name="ciudades" id="ciudades" class="form-control" >
            <option disabled selected>Medellin</option>
          </select><br>
          <label for="">Nombre*</label><p id="validanombre" style="color: red; font-size: 10px;"></p>
          <input type="text" class="form-control" id="nombre" placeholder="Pepito de Jesus" required><br>
          <label for="">Correo*</label><p id="validacorreo" style="color: red; font-size: 10px;"></p>
          <input type="email" class="form-control" id="correo" placeholder="Pepitodejesus@gmail" required><br>
          <div style="text-align: center;">
            <button class="btn btn-circle-rose" onclick="guardarContact()" data-toggle="modal" data-target="#respuesta">Enviar</button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="respuesta" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Administrador</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="proceso" > </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
