﻿.btn-circle-rose {
    display: inline-block;
    width: 140px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: #f14461;
    border-radius: 35px;
    position: relative;
    outline: none;
}


.card-body {
    padding: 40px;
    font-family: Roboto;
}

p {
    font-family: Roboto;
    color: #585556;
    font-size: 25px;
}

.card {
    border-radius: 22px;
    -webkit-box-shadow: 0px 3px 19px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 19px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 19px -5px rgba(0,0,0,0.75);
}
